body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #333;
  }
  
  .logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .list{
    text-align: center;
    color: #fff;
  }
  .logo img {
    height: 100%;
    float: right;
    display: flex;
    position: relative;
}
.preview{
  display: flex;
  flex-wrap: wrap;

}
  .home{
    background-image: linear-gradient( rgba(4, 9, 30, 0.963), rgba(4, 9, 30, 0.925)), url(images/background02.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-blend-mode: darken;
    font: 1em poppins;
    
  }
  h1{
    font-size: 60px;
    font-weight: normal;
    font: 5em poppins;
    color: #fff;
    }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    font: 1em poppins;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: block;

    margin-right: 10px;
  }
  
  nav {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font: 1em poppins;
     text-align: center;
     z-index: 2;
     top: 0;
     right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #333;
  }
  
  main {
    padding: 10px;
  }
  img {
    float:initial;
    height:350px;width:350px;                                      
  }
  
  section {
    border: 1px solid #000;
    padding: 10px;
  }
  .tar-and-paving,
  .landscaping,
  .building{
    display: flexbox;

    background-image: linear-gradient( rgba(4, 9, 30, 0.963), rgba(4, 9, 30, 0.925)), url(images/background02.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-blend-mode: darken;
    text-align: center;
    color: #fff;
    font: 1em poppins;

  }
  
  @media screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    p {
      font-size: 1
    }
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-align: center;
    font-size: 12px;
}
  .contact-us{
    background-image: linear-gradient( rgba(4, 9, 30, 0.963), rgba(4, 9, 30, 0.925)), url(images/background02.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-blend-mode: darken;
    text-align: center;
    color: white;
    font: 1em poppins;
  }



  /*-----testimonies*/



  .testimonies{
    align-content: center;
    font: poppins;
     margin: auto;
     padding-top: 100px;
     text-align: center;
 }
 .head{
     font: 1em poppins;
     font-size: large;
 }
 .test-col{
   
    text-align: left;
    background: #5f5f94b2;
    padding: 25px;
    cursor: pointer;
    display: flex;
 }
 .test-col img{
     height: 40px;
     margin-left: 5px;
     margin-right: 30px;
     border-radius: 50%;
 
 }
 .test-col p{
     padding: 0%;
 }
 .test-col h3{
     margin-top: 15px;
     text-align: left;
 
 }
  